/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-toggle {
  display: block;
  width: 100%;
  box-sizing: border-box;

  color: #333;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;

  padding: 0;
  margin: 0 0 10px 0;
}

.spares-trigger-area {
  position: relative;
  display: inline-block;
  width: 50px;
  border-radius: 10px;
  vertical-align: middle;
  height: 20px;
  margin-right: 10px;
  background: #ddd;
  transition: all .15s ease;
  cursor: pointer;
  box-shadow: inset -3px 1px 1px rgba(0, 0, 0, 0.3);
}

.spares-trigger {
  position: absolute;
  top: -1px;
  bottom: 0;
  border: 1px solid #ccc;
  left: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  transition: all .15s ease;
  background: #f4f4f4;
  background: linear-gradient(to bottom,#fafafa,#f6f6f6,#f3f3f3);
  font-size: 0;
  z-index: 1;
}

.spares-toggle.checked .spares-trigger-area {
  background: #529daa;
  box-shadow: inset 3px 1px 1px rgba(0, 0, 0, 0.3);
}

.spares-toggle.checked .spares-trigger {
  will-change: auto;
  transform: translate(29px, 0);
}
