/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-table-wrap {
  display: block;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-right: 0;
}

.spares-table {
  table-layout: fixed;
  width: auto;
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-right: 1px solid #ddd;
}

.spares-table td {
  background: #fff;
}

.spares-table th,
.spares-table td {
  color: #333;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  border: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.spares-table th {
  text-align: center;
}

.spares-table td {
  text-align: left;
}

.spares-table thead th,
.spares-table tfoot td {
  background: #f9fafb;
  font-weight: 700;
}

.spares-table tr:hover td {
  background: #f9fafb;
}

.spares-subtable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  text-align: left;
}

.spares-subcol {
  border-right: 1px solid #ddd;
  padding: 5px 10px;
  text-align: left;
  flex-grow: 1;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.spares-table th:last-child,
.spares-table td:last-child,
.spares-subcol:last-child {
  border-right: 0;
}


.spares-subcol .sort {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.spares-subcol .sort:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 7px;
  height: 14px;
  margin-top: -7px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOBAMAAAARcxsoAAAAGFBMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZl5tJwoAAAACHRSTlMATvribFvuuFGQnnMAAAAnSURBVAjXY2AQE2BgYFRXZGAQcnASYDBlYDVgwAvASsCKwdrABgAAaJEC+/cD5tgAAAAASUVORK5CYII=') center center no-repeat;
}

.spares-subcol .sort:active {
  color: #1b7f8f;
}
