/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-radio-block,
.spares-radio-label {
  display: block;
  width: 100%;
  box-sizing: border-box;

  color: #333;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.spares-radio-label {
  margin-bottom: 10px;
}

.spares-radio:focus,
.spares-radio:active {
  outline: none;
}

.spares-radio-label:active {
  color: #1b7f8f;
}

.spares-radio {
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
}
