/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-modal-wrap,
.spares-modal,
.spares-modal-header,
.spares-modal-body {
  display: block;
  width: 100%;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: #333;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;
  z-index: 1;
}

.spares-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, .5);
}

.spares-modal {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.10), 0 1px 5px 0 rgba(34,36,38,.12);
  border-radius: 4px;
  border: 1px solid rgba(34,36,38,.1);
}

.spares-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ececec;
  font-size: 26px;
}

.spares-modal-body {
  padding: 20px;
}

.spares-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #ececec;
}

.spares-modal-button {
  cursor: pointer;
  color: #097386;
}

.spares-modal-button i {
  margin-right: 10px;
  font-size: 20px;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

.spares-modal-close {
  font-size: 20px;
  color: #c4c4c4;
  cursor: pointer;
  padding: 10px;
}


.spares-modal-close:active {
  color: #097386;
}

.animate {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    will-change: auto;
}

@media (max-width: 600px) {
  .spares-modal {
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}
