/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-map-block,
.spares-map,
.spares-address-block {
  display: block;
  box-sizing: border-box;

  padding: 0;
  margin: 0 auto;

  color: #333;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;

  border: 0;
  text-shadow: none;
  box-shadow: none;
}

.spares-map-block {
  position: relative;
  height: 400px;
  background: #ddd;
}

.spares-map {
  width: 100%;
  height: 400px;
}

.spares-address-block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    background: rgba(255,255,255,.89);
    padding: 15px;
    text-align: center;
    z-index: 1;
}

@media(max-width: 980px) {
  .spares-map-block,
  .spares-map {
    height: 200px;
  }
  .spares-address-block {
    position: static;
    width: 100%;
    background: #fff;
  }
}
