/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-paragraph {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 25px;

  display: block;
  width: 100%;
  box-sizing: border-box;

  color: #333;
  background: none;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;
}
