.spares-table-wrap {
  display: block;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
}


.spares-table {
  table-layout: fixed;
  width: auto;
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.spares-table td {
  background: #fff;
}

.spares-table th,
.spares-table td {
  color: #333;
  font-weight: 400;
  /*padding: 5px 10px;*/
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  border: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.spares-table th {
  text-align: center;
}

.spares-table td {
  text-align: left;
}

.spares-table thead th,
.spares-table tfoot td {
  background: #f9fafb;
  font-weight: 700;
}

.spares-table tr:hover td {
  background: #f9fafb;
}

.spares-subtable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  text-align: left;
}

.spares-subcol {
  border-right: 1px solid #ddd;
  padding: 5px 10px;
  text-align: left;
  flex-grow: 1;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.spares-table th:last-child,
.spares-table td:last-child,
.spares-subcol:last-child {
  border-right: 0;
}
