/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-textarea-block,
.spares-textarea-label,
.spares-textarea,
.spares-textarea-error {
  display: block;
  width: 100%;
  box-sizing: border-box;

  color: #333;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.spares-textarea-block {
  position: relative;
}

.spares-textarea-label {
  padding: 5px;
  width: 50%;
}

.spares-textarea {
  background: #fff;

  padding: 10px;
  margin: 0 auto;

  border: 1px solid #ddd;
  border-radius: 4px;

  max-width: 100%;
  min-height: 100px;
}

.spares-textarea.error,
.spares-textarea.error:focus,
.spares-textarea.error:active {
  border-color: #e78277;
}

.spares-textarea:focus,
.spares-textarea:active {
  outline: none;
  border-color: #6BABB7;
}

.spares-textarea-error {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: auto;
  max-width: 50%;

  color: #dc4839;
  font-size: 13px;
  text-align: right;

  padding: 5px;
}
