/**
*
* Spares-uikit
*
* @author Dmitri Korchemkin
* @source https://github.com/korchemkin/spares-uikit
*/

.spares-nav,
.spares-menu,
.spares-menu-item,
.spares-menu-item-link,
a.spares-menu-item-link {
  margin: 0;
  padding: 0;
  line-height: 25px;

  display: block;
  width: 100%;
  box-sizing: border-box;

  color: #333;
  background: none;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 400;
}

.spares-nav {
  padding-bottom: 25px;
}

.spares-menu {
  font-size: 0;
  display: block;
  list-style: none;
}

.spares-menu-item {
  display: inline-block;
  vertical-align: top;
  width: auto;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}

.spares-menu-item-link,
a.spares-menu-item-link {
  display: inline-block;
  width: auto;
  padding: 10px 0;
  margin: 0 20px;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-bottom: 2px solid transparent;
  line-height: 1;
  cursor: pointer;
}

.spares-menu-item-link.active,
.spares-menu-item-link:active,
.spares-menu-item-link:hover {
  color: #097386;
}

.spares-menu-item-link.active {
  border-color: #5fb5c4;
}

.spares-submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.10), 0 1px 5px 0 rgba(34,36,38,.12);
  border-radius: 4px;
  padding: 3px 10px;
  border: 1px solid rgba(34,36,38,.1);
}

.spares-submenu:before,
.spares-submenu:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
}

.spares-submenu:before {
  margin-left: -8px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(34,36,38,.2);
}

.spares-submenu:after {
  margin-left: -7px;
  border: 7px solid transparent;
  border-bottom: 7px solid #fdfdfd
}

.spares-submenu-item  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.spares-submenu-item:last-child {
  border: 0;
}

.spares-menu-item-link i {
  margin-left: 5px;
  font-size: 15px;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

@media(max-width: 980px) {
  .spares-submenu {
    position: relative;
    top: inherit;
    left: inherit;
    margin-left: 0;
  }
}
